@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

:root {
	--main-color: rgb(123, 189, 255);
	--main-color-light: rgb(233, 245, 255);
	--color: white;
	--color-second: #303030;
}

header {
	height: auto;
	border-radius: 0 0 40px 40px;
	background-color: var(--main-color);
	color: var(--color);
	overflow: hidden;
}

.ruang {
	text-align: center;
	margin: 20px auto 15px auto;
}

.back {
	position: absolute;
	top: 53px;
	right: 35px;
	width: 15px;	
}

.card
 {
	display: flex;
	background-color: var(--color);
	color: var(--color-second);
	justify-content: space-between;
	width: 90%;
	height: 60px;
	margin: 20px auto;
	padding: 20px;
	align-items: center;
	border-radius: 15px;
	font-weight: 600;
	box-shadow: 0px 0px 25px rgba( 0, 0, 0, .1);
}

.card-list {
	display: flex;
	align-items: center;
}

.card-icon {
	width: 30px;
	margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E5E5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -2px;
  bottom: -4px;
  background-color: #CECECE;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--main-color-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--main-color);
}

.suhudankelembapan {
	display: flex;
	margin: auto;
	width: 70%;
	margin-bottom: 20px;
	justify-content: space-around;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}

.suhudankelembapan span {
	font-size: 20px;
}

.celcius {
	font-size: 20px;
}

.humidity svg {
	height: 20px;
	width: 20px;
	margin-bottom: -2px;
}
